main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

nav{
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 0.5em;
}

.for-white-space{
    display: flex;
    margin: 0 auto;
    width: 60%;
    justify-content: space-between;
    align-content: center;
}

#v3_logo{
    flex: none;
    display: inline;
    margin-top: auto;
    margin-left: 0;
    margin-bottom: auto;
    height: 2.9vw;
}

.contact-main-menu{
    display: block;
    padding-right: 1em;
    width: 90%;
}

.contact{
    display: flex;
    height: 50%;
    justify-content: end;
    /*background-color: red;*/
}

#btn-contact{
    font-size: 1vw;
    background-color: #efefef;
    width: 13em;
    text-align: left;
    padding-left: 1.3em;
    margin-right: -3.5em;
    border: none;
    border-bottom-left-radius: 3em;
}

#btn-contact img{
    position: relative;
    float: left;
    padding-top: 0.23em;
    padding-right: 0.3em;
    height: 0.9vw;
}

#btn-contact a{
    text-decoration: none;
    font-size: 1.1em;
    font-family: "Maven Pro", sans-serif;
    font-weight: 700;
    color: #737373;
}

#btn-get-quote{
    font-size: 1vw;
    background-color: #00bae9;
    width: 13em;
    border: none;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
}

#btn-get-quote a{
    text-decoration: none;
    font-family: "Maven Pro", sans-serif;
    font-weight: 700;
    color: white;
}

.main-menu{
    display: inline-block;
    height: 50%;
    width: 100%;
    font-size: 1vw;
    font-family: "Maven Pro", sans-serif;
    font-weight: 500;
}

.main-menu ul{
    display: block;
    padding: 0;
    width: 100%;
    text-align: right;
    /*background-color: chocolate;*/
}

.main-menu li {
    display: inline-block;
}

.main-menu a,span{
    text-decoration: none;
    color: #949494;
}

.main-menu span{
    user-select: none;
}

.main-menu a:hover{
    font-weight: 700;
    color: #00bae9;
}

.main-menu span{
    font-size: 1vw;
    padding-right: 0.5%;
    padding-left: 0.5%;
    display: inline-block;
}

#bbb_logo{
    flex: none;
    display: inline;
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;
    height: 4.2vw;
}

/* HEADERUL GATA. NU MAI MODIFICA NIMIC DE SUS */

.slide-show{
    top: 0;
    right: 0;
    left: 0;
}

.overlay-box{
    display: flex;
    position: absolute;
    margin-top: 10em;
    margin-left: 23em;
    width: 35em;
    padding-right: 3em;
    padding-left: 3em;
    padding-top: -0.6em;
    padding-bottom: 2em;
    justify-content: space-between;
    align-content: center;
    border-top-left-radius: 5em;
    border-bottom-right-radius: 5em;
    background: rgba(0, 186, 233, 0.5);
}

.text-box h1{
    font-size: 3.5em;
    font-family: "Maven Pro", sans-serif;
    font-weight: 900;
    line-height: 0.9em;
    color: white;
}

.text-box p{
    font-size: 1em;
    font-family: "Maven Pro", sans-serif;
    font-weight: 500;
    color: white;
    line-height: 1.5em;
    text-align: left;
}

.slide-show img{
    width: 100%;
}