.center{
    margin: 0;
    position: relative;
    height: 50%;
}

.button-template{
    padding: 0.8em 1.7em 0.8em 1.7em;
    border-top-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    background-color: transparent;
    border-width: 0.17em;
    border-color: white;
    border-style: solid;
    box-sizing: border-box;
}

main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

nav{
    top: 0;
    left: 0;
    right: 0;
}

.for-white-space{
    display: flex;
    margin: 0 auto;
    width: 60%;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 0.5em;
}

#v3_logo{
    flex: none;
    display: inline;
    margin-top: auto;
    margin-left: 0;
    margin-bottom: auto;
    height: 2.9em;
}

.contact-main-menu{
    display: block;
    padding-right: 1em;
    width: 90%;
}

.contact{
    display: flex;
    height: 50%;
    justify-content: end;
    /*background-color: red;*/
}

#btn-contact button:hover {
    cursor: pointer;
}

#btn-contact{
    background-color: #efefef;
    width: 12em;
    height: 100%;
    padding-left: 1.3em;
    margin-right: -3.5em;
    border-bottom-left-radius: 3em;
    text-decoration: none;
}

#btn-contact button{
    position: absolute;
    bottom: -50%;
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    font-size: 1.1em;
    font-family: "Maven Pro", sans-serif;
    font-weight: 700;
    color: #737373;
    background-color: transparent;
}

#btn-contact img{
    position: relative;
    float: left;
    padding-top: 0.23em;
    padding-right: 0.3em;
    height: 0.9em;
}

#btn-get-quote{
    font-size: 1em;
    background-color: #00bae9;
    width: 13em;
    border: none;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
}

#btn-get-quote a{
    text-decoration: none;
    font-family: "Maven Pro", sans-serif;
    font-weight: 700;
    color: white;
}

.main-menu{
    display: inline-block;
    height: 50%;
    width: 100%;
    font-size: 1em;
    font-family: "Maven Pro", sans-serif;
    font-weight: 500;
}

.main-menu ul{
    display: block;
    padding: 0;
    width: 100%;
    text-align: right;
    /*background-color: chocolate;*/
}

.main-menu li {
    display: inline-block;
}

.main-menu a,span{
    text-decoration: none;
    color: #949494;
}

.main-menu span{
    user-select: none;
}

.main-menu a:hover{
    font-weight: 700;
    color: #00bae9;
}

.main-menu span{
    font-size: 1em;
    padding-right: 0.5%;
    padding-left: 0.5%;
    display: inline-block;
}

#bbb_logo{
    flex: none;
    display: inline;
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;
    height: 4.2em;
}

/* HEADERUL GATA. NU MAI MODIFICA NIMIC DE SUS */

.slide-show{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    display: block;
}

.overlay-box{
    display: flex;
    position: absolute;
    margin-top: 9em;
    margin-left: 23em;
    width: 35em;
    height: 21.5em;
    padding-right: 3em;
    padding-left: 3em;
    padding-bottom: 2.7em;
    border-top-left-radius: 5em;
    border-bottom-right-radius: 5em;
    background: rgba(37, 191, 236, 0.71);
}

.text-box h1{
    padding: 0;
    margin-bottom: 0;
    font-size: 3em;
    font-family: "Maven Pro", sans-serif;
    font-weight: 900;
    line-height: 1em;
    color: white;
}

.text-box p{
    margin-top: 1.5em;
    margin-bottom: 2em;
    font-size: 1.2em;
    font-family: "Maven Pro", sans-serif;
    font-weight: 500;
    color: white;
    line-height: 1.2em;
    text-align: left;
}

.text-box a button{
    font-family: "Maven Pro", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

.text-box a{
    margin: 0;
    padding: 0;
}

.slide-show img{
    display: block;
    width: 100%;
}

.text-box button:hover{
    cursor: pointer;
}

.three-step{
    position: absolute;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    top: 42em;
    width: 5em;
}

.slide-position{
    aspect-ratio: 1;
    width: 1em;
    margin: 0.2em;
    border-width: 0.15em;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    border-radius: 0.15em;
}

.slide-position:hover{
    border-color: rgba(255, 255, 255, 0);
    background-color: #00bae9;
}

.shorts{
    display: flex;
    margin: 1em auto;
    width: 60%;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.shorts span{
    width: 20em;
}

.shorts img{
    height: 5.5em;
}

.shorts h2{
    margin: 0;
    padding-top: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3em;
    font-size: 1em;
    font-family: "Maven Pro", sans-serif;
    font-weight: 700;
    color: #25bfec;
}

.shorts p{
    padding-bottom: 0.5em;
    width: 16em;
    font-family: "Maven Pro", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #848484;
    display: inline-block;
}

.shorts a{
    text-decoration: none;
}

.shorts button{
    display: block;
    font-family: "Maven Pro", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    color: #848484;
    border-color: #848484;
    padding: 0.5em 1.5em 0.5em 1.5em;
    margin: 0 auto;
}

.shorts button:hover{
    cursor: pointer;
}

.about-us h1{
    user-select: none;
    margin: 1.2em auto 1em auto;
    padding-left: 1em;
    padding-right: 1em;
    width: 60%;
    text-align: center;
    border-bottom: solid;
    border-color: #9a9999;
    border-width: 0.06em;
    line-height: 0.2em;
}

.about-us h1>span{
    font-family: "Maven Pro", sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    background:#fff;
    padding-right: 0.3em;
    padding-left: 0.3em;
    /*padding:0 10px;*/
}

.about-us article{
    text-align: center;
    margin: 0 auto;
    width: 60%;
    font-family: "Maven Pro", sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: #848484;
    padding-bottom: 1em;
}


/* GATA ABOUT US */


.out-clients-say hr{
    color: #9a9999;
    margin: -2px;
    padding: 0;
}

.clients-title{
    user-select: none;
    padding: 0;
    margin: 0;
    text-align: right;
    background-color: #00bae9;
    border-bottom-right-radius: 5em;
    height: 4em;
    width: 41em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-title p{
    font-family: "Maven Pro", sans-serif;
    font-weight: 500;
    font-size: 2em;
    /*padding-right: 2.5em;*/
    margin-left: 45%;
    color: white;
}

/* HEADER OUR CLIENTS SAY */

.column .comment p{
    font-style: italic;
    text-align: center;
    margin-left: 2em;
    margin-right: 3em;
}

.comment-bg{
    margin-bottom: -6.8em;
}

.profile-pic{
    /*margin-left: 0;*/
    display: inline-block;
    background-repeat: no-repeat;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    object-fit: contain;
    margin-top: 0.8em;
    width: 3.2em;
    height: 3.2em;
}

.profile-pic:nth-of-type(1){
    background-image: url("vectors/alice_knigh.png");
    background-position-x: -2em;
    background-position-y: -0.5em;
}

.profile-pic:nth-of-type(2){
    background-image: url("vectors/john_smith.png");
    background-position-x: -2em;
    background-position-y: -0.5em;
}

.rating{
    display: flex;
    justify-content: end;
    /*margin-top: auto;*/
    /*margin-right: 0;*/
    /*margin-bottom: auto;*/
    /*display: block;*/
    max-width:6em;
    max-height:3em;
    width: auto;
    height: auto;
}

/* COLOANA STANGA */

.row{
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.column:nth-child(1){
    padding-top: 2em;
    flex: 50%;
}

.column:nth-child(2){
    margin-top: -2em;
    flex: 50%;
}

.column img{
    width: 95%;
}

.column iframe{
    width: 97%;
}

.column h2{
    font-family: "Maven Pro", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #848484;
    margin: 0;
    padding: 0.6em 0 0.6em 0;
}

.column p{
    font-family: "Maven Pro", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #848484;
    margin: 0;
    padding-bottom: 2em;
}

/* COLOANA DREAPTA */
