#container{
    display: flex;
}

.patrat,.cerc{
    touch-action: none;
    user-select: none;
    width: 100px;
    height: 100px;
}

.cerc{
    border-radius: 50%;
}

.patrat:nth-of-type(1){
    background-color: red;
}

.patrat:nth-of-type(2){
    background-color: blue;
}

.cerc:nth-of-type(3){
     background-color: red;
 }

.cerc:nth-of-type(4){
    background-color: blue;
}